/* 
    Created on : 30-Mar-2023, 11:48:28 AM
    Author     : Taburada
*/

@import url("https://css.gg/css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gafata&display=swap');
/*menu button stuff*/

body {
    margin: 0;
    background-color: rgba(249, 251, 253, 1);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Josefin Sans';
}

/*relocate admin pages*/
div.clientList{
    float: left;
    width: 20%;
    height: auto;
    overflow: auto;
    background-color: rgba(188, 211, 156, 0.7);
    text-align: center;
    height: 100vh;
}
.clientHead .clients-head{
    margin: 0;
    padding: 20px 0 10px 0;
    font-family: 'Josefin Slab';
    font-weight: 500;
    font-size: 30pt;
    color: #697268;
}
.list {
    display: flex;
    flex-direction: column;
    margin: 0;
    border-top: 2px solid rgb(99, 103, 107);
}
.client{
    margin: 0;
    font-family: 'Gafata', sans-serif;
    color: #202124;
    background: none;
    border: none;
    width: 100%;
    text-decoration: none;
    padding: 10px 0;
    font-size: 15pt;
    transition: ease-in-out 0.2s;
}

.client:hover{
    background-color: rgba(168, 189, 140, 0.7);
}
.client:focus {
    background-color: rgba(168, 189, 140, 0.7);
    font-weight: 600;
}

.client-container{
    float:right;
    width: 80%;
    background-color: white;
    overflow:scroll;
    overflow-x: hidden;
    height: 100vh;
}
.client-container h1{
    text-align: center;
    color: #697268;
    font-family: 'Josefin Slab';
    font-size: 35pt;
    font-weight: 500;
    margin: 2% 0 0 0;
    padding-bottom: 5%;
}
.client-container h2 {
    text-align: center;
    color:#3b5a82;
}
#message, #error-message {
    margin: 0 0 20px 50px;
    font-size: 14pt;
}
#message {
    color:#ed3434;
}
#error-message {
    color:#697268;
}
#emergency, #medical-info, #appointments {
    color: #7FA0CA;
    font-weight: 500;
    font-size: 18pt;
    margin: 50px 0 5px 50px;
}

#client_name {
    border: none;
    outline: none;
    margin: 0 0 0 50px;
    color:#3b5a82;
    font-family: 'Gafata', sans-serif;
    font-weight: 400;
    font-size: 24pt;
}
#client_name:hover, #client_name:focus {
    border: 1px solid #c1c1c1;
}

#subheading {
    margin: 30px 0 0 50px;
}

table {
    margin: 0;
}
table.info {
    margin-top: 12px;
}
table.emergency-contact {
    margin-top: 0;
}
table p {
    display: inline-block;
    margin: 10px 0 5px 50px;
    color: #3b5a82;
    font-size: 15pt;
}
table input {
    margin: 0 0 0 50px;
    font-size: 14pt;
    color: rgba(105, 114, 104, 1);
    border: 2px solid #c1c1c1;
    border-radius: 4px;
    font-family: 'Gafata', sans-serif;
    padding: 5px;
    width: 300px;
}

.emergency-contact, .medical-info {
    margin-top: 50px;
}

.emergency {
    color: #3b5a82;
    font-size: 16pt;
    margin: 15px 0 5px 50px;
}
.emergency input {
    margin: 0;
    font-size: 16pt;
}
textarea.textBig{
    font-family: 'Gafata', sans-serif;
    width: 80%;
    height:200px;
    margin: 10px 0 10px 50px;
    color: #697268;
    border: 2px solid #697268;
    border-radius: 4px;
    font-size: 110%;
    line-height: 150%;
    resize: none;
}

.clientHead{
    color: white;
    font-size: 200%;
    padding-bottom: 0;
    margin-bottom: 0;
}
div.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 0 50px 0 50px;
}
input.saveButt, input.deleteButt {
    width: 200px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Josefin Sans';
    font-size: 13pt;
    font-weight: 400;
    letter-spacing: 1pt;
    background-color: rgba(43, 78, 39, 0.7);
    color: white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    transition: ease-in-out 0.2s;
}
input.deleteButt{
    margin-left: 20px;
    background-color: #ed3434;
}
input.saveButt:hover{
    width: 190px;
    cursor: pointer;
    background-color: rgba(43, 78, 39, 0.9);
}
input.deleteButt:hover{
    width: 190px;
    cursor: pointer;
    background-color: #d13030;
}

.appointment-history {
    margin-top: 10px;
    margin-bottom: 90px;
    text-align: left;
    border: 2px solid #697268;
    border-radius: 4px;
    border-collapse: collapse;
    width: 80%;
}
.appointment-history th {
    background-color: rgb(234, 232, 232);
    border: 2px solid #697268;
    padding: 7px 15px;
    font-size: 15pt;
    font-weight: 500;
    color: #3b5a82;
}
.appointment-history td {
    border: 2px solid #697268;
    padding: 9px 15px;
}
.appointment-info p{
    margin: 0;
    text-align: center;
    font-size: 13pt;
    font-weight: 400;
    color: rgba(105, 114, 104, 1);
}
.appointments-container h2 {
    margin-top: 20px;
    margin-bottom: 90px;
    text-align: left;
    font-size: 15pt;
    font-weight: 500;
}