/* 
    Created on : 6-Feb-2023, 5:53:17 PM
    Author     : janraeSAIT
*/
@import url("https://css.gg/css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    background-image: url('../Images/Login-BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
}

.mmt-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    object-fit: cover;
    width: 300px;
    padding-top: 8%;
}

.form {
    padding-top: 75px;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px rgb(234, 237, 233) inset; 
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px rgb(234, 237, 233) inset;
    -webkit-text-fill-color: #333;
} 

#message {
    display: flex;
    justify-content: center;
    margin: 0 230px 10px 0;
    font-family: 'Josefin Sans';
    color: rgba(105, 114, 104, 1);
}
#error-message {
    display: flex;
    justify-content: center;
    margin: 0 230px 10px 0;
    font-family: 'Josefin Sans';
    color: #e51f1f;
}

.gg-user,
.gg-lock {
    margin-left: 15px;
    color: rgba(105, 114, 104, 1);
}

.gg-lock {
    margin-left: 15px;
    margin-bottom: 1px;
    color: rgba(105, 114, 104, 1);
}

.lock {
    height: 24px;
    width: 24px;
}

.user-container, .password-container {
    align-items: center;
    border: 2px solid;
    border-color: rgba(105, 114, 104, 1);
    border-radius: 4px;
    display: flex;
    gap: 35px;
    height: 45px;
    width: 400px;
    padding: 5px 5px;
    margin: auto;
}
.password-container {
    margin-top: 10px;
}

.username, .password {
    letter-spacing: 0;
    line-height: 20px;
    min-width: 84px;
    text-align: center;
    white-space: nowrap;
}

#username, #password {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(249, 251, 253, 1);
    font-size: 20px;
    border: none;
    outline: none;
    height: 45px;
    width: 325px;
    transition: height 1s;
}

.login-container {
    display: flex;
    gap: 10px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.login {
    background-color: rgba(105, 114, 104, 1);
    color: rgba(249, 251, 253, 1)
}

button {
    margin: 0;
    width: 200px;
    padding: 10px 0px;
    border: 0;
    border-radius: 4px;
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    color: rgba(249, 251, 253, 1);
    width: 190px;
    background-color: rgba(188, 210, 238, 1);
    border: 1px;
}

.forgot-password, .register-container {
    align-self: center;
    color: rgba(105, 114, 104, 1);
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-right: 2px;
    margin-top: 20px;
    min-height: 20px;
    min-width: 146px;
    text-align: center;
}

.forgot-password a {
    text-decoration: none;
    color: rgba(105, 114, 104, 1);
    transition: ease-in-out 0.2s;
}

.register-container a {
    text-decoration: underline;
    color: rgba(105, 114, 104, 1);
    transition: ease-in-out 0.2s;
}

.forgot-password a:hover {
    color: #282c28;
    text-decoration: underline;
}

.register-container a:hover {
    color: #282c28;
    
}
