/* 
    Created on : 6-Feb-2023, 5:57:07 PM
    Author     : janraeSAIT
*/

@import url("https://css.gg/css");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
    margin: 0;
    background-color: rgba(249, 251, 253, 1);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(188, 210, 238, 1);
    position: relative;
}

.mmt-logo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mmt-logo img {
    display: block;
    height: 75px;
}

header h1 {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-family: "josefin slab";
    font-weight: 600;
    color: rgba(105, 114, 104, 1);
    font-size: 40px;
    margin-left: 10px;
}

main {
    width:62%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(249, 251, 253, 1);
}

.title-container {
    padding-top: 50px;
    padding-bottom: 20px;
}

.title-container h2 {
    color: rgba(105, 114, 104, 1);
    font-family: "josefin slab";
    font-size: 24px;
    font-weight: 800;
}

.line {
    height: 1px;
    background: rgba(105, 114, 104, 1);
    margin-bottom: 30px;
}

.flex-container {
    display: flex;
}

.left-column {
    width: 25%;
    flex: 1;
    background-color: rgba(249, 251, 253, 1);
}
.left-column:first-child {
    margin-right: 15px;
}

.left-column p {
    color: rgba(105, 114, 104, 1);
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Josefin Sans";
    letter-spacing: 2px;
}

.left-column p a {
    color: rgba(105, 114, 104, 1);
    font-size: 20px;
    border: 2px solid rgba(105, 114, 104, 1);
    border-radius: 4px;
    padding: 15px;
}

#bookings {
    padding-right: 82px;
}

#current {
    background-color: rgba(105, 114, 104, 1);
    color: rgba(249, 251, 253, 1);
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
p a:hover {
    color: rgba(249, 251, 253, 1);
}
a:hover {
    background-color: rgba(105, 114, 104, 1);
    color: rgba(249, 251, 253, 1);
}
a:active {
    text-decoration: none;
}

form {
    display: inline;
    width: 70%;
}

.right-column {
    border: 2px solid rgba(105, 114, 104, 1);
    border-radius: 10px;
    min-height: 500px;
    width: 75%;
}

.right-column p {
    background-color: rgba(105, 114, 104, 1);
    margin: 0;
    border-radius: 6px 6px 0 0;
    padding: 20px 30px;
    font-family: "josefin slab";
    font-size: 20px;
    font-weight: 700;
    color: rgba(249, 251, 253, 1);
    letter-spacing: 2px;
}
.right-column #emergency-contact {
    background: none;
    font-size: 20px;
    font-weight: 700;
    color: rgba(105, 114, 104, 1);
    letter-spacing: 2px;
    font-family: "josefin sans";
    margin-bottom: 60px;
}

table {
    font-family: "josefin sans";
    font-size: 18px;
}

table tbody tr .left-table,
.left-table-sub {
    margin-top: 20px;
    background-color: rgba(249, 251, 253, 1);
    width: 200px;
    font-weight: 500;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
}

p#emergency-contact-heading {
    margin: 0;
    padding: 20px 0;
    font-family: "Josefin Sans";
    font-size: 20px;
    background: none;
    color: rgba(105, 114, 104, 1);
}
#add-emergency, #delete-emergency, #edit-emergency {
    text-decoration: none;
    font-size: 12pt;
    display: inline-block;
    margin: 0 0 0 10px;
    color: #7FA0CA;
    font-weight: 500;
    background: none;
    letter-spacing: 1px;
}
#add-emergency:hover, #delete-emergency:hover, #edit-emergency:hover {
    text-decoration: underline;
    color: #648ab7;
    background: none;
}

table tbody tr input {
    margin-top: 10px;
    background-color: rgba(249, 251, 253, 1);
    vertical-align: middle;
    width: 350px;
    height: 30px;
    padding: 5px;
    border: 2px solid rgba(105, 114, 104, 1);
    border-radius: 4px;
    font-size: 12pt;
    outline: none;
}

table tbody tr input:focus {
    background-color: rgb(242, 242, 242);
}

#emergency-contact {
    text-align: left;
    margin: 10px 0 0 30px;
}
#no-contacts {
    text-align: center;
    font-size: 15pt;
    color: #202020;
    background: none;
    font-family: "Josefin Sans";
    font-weight: 400;
    margin: 0;
}

#emergency-contact table {
    border-collapse: collapse;
    font-size: 10pt;
    color: #202020;
    text-align: left;
    margin: 10px 0;
    border: 2px solid rgba(105, 114, 104, 1);
}
#emergency-contact table th {
    letter-spacing: 1px;
    padding: 5px;
    background-color: #7FA0CA;
}
#emergency-contact table td {
    height: fit-content;
    padding: 0;
   
}
#emergency-contact table input {
    height: fit-content;
    border: none;
    padding: 5px;
    font-size: 10pt;
    width: 80%;
    margin: 0;
    font-family: "Josefin Sans";
}
#message {
    margin-top: 25px;
    padding: 15px;
    font-family: "Josefin Sans";
    font-size: 12pt;
    font-weight: 400;
    color: #202020;
    text-align: center;
}

.save-container {
    display: flex;
    margin: 43px 75px 30px auto;
    gap: 10px;
    width: fit-content;
}

button {
    margin: 0;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-family: "Josefin Sans";
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    width: 200px;
    padding: 10px 0px;
    box-shadow: 0 0 20px rgba(249, 251, 253, 1);
    transition: 0.4s;
}

.save {
    color: rgba(249, 251, 253, 1);
    background-color: rgba(105, 114, 104, 1);
}

button:hover {
    background-color: rgba(188, 210, 238, 1);
    width: 190px;
    color: rgba(249, 251, 253, 1);
    border: 1px;
}

.emerg-contact-form {
    margin: 30px;
    font-family: 'josefin sans';
    display: flex;
    flex-direction: column;
}

.emerg-contact-form p {
    background: none;
    color:rgba(105, 114, 104, 1);
    font-family: 'josefin sans';
    font-weight: 500;
    padding: 0 0 20px 0;

}

.emerg-contact-form input[type="text"]{
    width: 250px;
    border: 2px solid rgba(105, 114, 104, 1);
    border-radius: 4px;
    padding: 10px;
    background-color: rgba(249, 251, 253, 1);
    font-size: 12pt;
    font-family: 'josefin sans';
}

#add-emerg-contact {
    margin: 15px 0;
}

#cancel-button {
    background: none;
    color: #7FA0CA;
}
#cancel-button:hover {
    text-decoration: underline;
    opacity: 0.5;
}

.add-contact-btn {
    letter-spacing: 1px;
    font-size: 12pt;
    box-shadow: 0 0 20px rgba(249, 251, 253, 1);
    background: none;
    border: 2px solid rgba(105, 114, 104, 1);
    width: fit-content;
    padding: 7px 15px 5px 15px;
    color: rgba(105, 114, 104, 1);
    margin: 0 0 0 150px;
}
.add-contact-btn:hover {
    background-color: rgba(105, 114, 104, 1);
    color: white;
    width: fit-content;
    border: none;
}
#delete-emergency {
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 10pt;
}
