/* 
    Created on : 10-Feb-2023, 6:05:16 PM
    Author     : Flores
*/

@import url("https://css.gg/css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    background-color: rgba(188, 210, 238, 0.5);
    position: relative;
    box-sizing: border-box;
}

.wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: rgba(105, 114, 104, 1);
    transition: all 0.5s ease-in-out;
}

.stack-top {
    z-index: 1;
}

#active:checked~.wrapper {
    right: 0;
}

.menu-btn {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
    transform: translateY(-8px);
}

.menu-btn:after {
    transform: translateY(8px);
}

.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .3s;
}

#active:checked+.menu-btn span {
    transform: scaleX(0);
}

#active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: rgba(249, 251, 253, 1);
}

#active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: rgba(249, 251, 253, 1);
}

.wrapper ul {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    height: 10%;
    margin: 15px 0;
}

.wrapper ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: rgba(249, 251, 253, 1);
    border-radius: 50px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.5s ease;
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: rgba(249, 251, 253, 1);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.5s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: rgba(105, 114, 104, 1);
}

input[type="checkbox"] {
    display: none;
}

#active:checked~.wrapper ul li a {
    opacity: 1;
}

.wrapper ul li a {
    transition: opacity 1s, transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}

#active:checked~.wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
    transition-delay: 0.5s;
    transform: translateX(-100px);
}

header {
    background-color: rgba(188, 210, 238, 1);
    position: relative;
}

.mmt-logo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mmt-logo img {
    display: block;
    height: 75px;
}

header h1 {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-family: "josefin slab";
    font-weight: 400;
    color: rgba(105, 114, 104, 1);
    font-size: 40px;
    margin-left: 10px;
}

.container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
    display: flex;
    border-radius: 15px;
}

.left {
    width: 60%;
    padding: 20px;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: black;
    background-color: rgba(249, 251, 253, 1);
    border-radius: 5px;
    border: 2px solid lightgray;
}

.calendar .month {
    width: 85%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 35px;
    font-weight: 200;
    color: rgba(105, 114, 104, 1);
    text-transform: capitalize;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: white;
}

.calendar .weekdays {
    width: 93.5%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 25px;
    font-weight: 200;
    color: rgba(105, 114, 104, 1);
    text-transform: uppercase;
}

.calendar .weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 96.3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 25px;
    font-weight: 500;
    color: rgba(105, 114, 104, 1);
    margin-bottom: 20px;
}
.calendar .days .day {
    width: 13%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid lightgray;
}
.calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid lightgray;
}
.calendar .days .day:nth-child(7n) {
    border-right: 2px solid lightgray;
}
.calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid lightgray;
}
.calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid lightgray;
}

.calendar .days .day:not(.prev-date .next-date):hover {
    color: rgba(249, 251, 253, 1);
    background-color: rgba(188, 210, 238, 1);
}
.calendar .days .prev-date,
.calendar .days .next-date {
    color: #b3b3b3;
}
.calendar .days .active {
    position: relative;
    font-size: 50px;
    color: rgba(249, 251, 253, 1);
    background-color: rgba(188, 210, 238, 1);
}
.calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px rgba(188, 210, 238, 1);
}
.calendar .days .today {
    font-size: 50px;
}

.calendar .goto-today {
    width: 93.4%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: rgba(105, 114, 104, 1);
}
.calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(105, 114, 104, 1);
}
.calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: rgba(105, 114, 104, 1);
    border-radius: 5px;
}
.calendar .goto-today button {
    padding: 4px 10px;
    border: 1px solid rgba(105, 114, 104, 1);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: rgba(105, 114, 104, 1);
}
.calendar .goto-today button:hover {
    color: rgba(249, 251, 253, 1);
    background-color: rgba(188, 210, 238, 1)
}
.calendar .goto-today .goto button {
    border: none;
    border-left: 2px solid rgba(105, 114, 104, 1);
    border-radius: 0;
}

.container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 21px;
    margin-right: 20px;
    margin-bottom: 17px;
    background-color: rgba(188, 211, 156, .50);
    border: 2px solid lightgray;
}

.right .today-date {
    width: 80%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.right .today-date .event-day {
    font-size: 45px;
    font-weight: 500;
    color: rgba(105, 114, 104, 1);
}
.right .today-date .event-date {
    font-size: 35px;
    font-weight: 400;
    color: rgba(105, 114, 104, 1);
}

form div {
    font-family: 'Josefin Sans';
    font-size: 16px;
}

form select {
    margin-bottom: 20px;
    padding: 10px;
    font-family: 'Josefin Sans';
    font-size: 12pt;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    outline: none;
    width: 200px;
}

form select option:checked {
    box-shadow: 0 0 10px 100px #ad2727 inset;
}

form p {
    color:rgba(105, 114, 104, 1);
    margin: 5px 0;
}

.patient-info p {
    margin: 20px 0 10px 0;
    font-size: 15pt;
    font-weight: 500;
}
.patient-info td {
    font-size: 12pt;
    margin: 10px 0 0 20px;
}

.patient-info input {
    background-color: #ffffff;
    margin: 5px 0 0 20px;
    outline: none;
    padding: 10px;
    font-family: 'Josefin Sans';
    font-size: 15px;
    width: 200px;
    border: 2px rgb(105, 115, 104) solid;
    border-radius: 4px;
    transition: height 1s;
}
.patient-info input:focus {
    background-color: #fdfdfd;
}

#med-concerns {
    resize: none;
    font-family: 'Josefin Sans';
    font-size: 11pt;
    border: 2px rgb(105, 115, 104) solid;
    border-radius: 4px;
    outline: none;
}

#message {
    margin: 10px;
    padding: 10px 0 15px 0;
    font-family: 'Josefin Sans';
    font-size: 12pt;
    font-weight: 400;
    color: #202020;
    text-align: center;
}

.reserve-container {
    display: flex;
    justify-content: center;
    margin: 14px 0 0 0;
    gap: 10px;
    width: fit-content;
    
}
button {
    margin: 0 50px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-family: 'Josefin Sans';
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    letter-spacing: 2px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    transition: 0.4s;
}
#reserve {
    background-color: rgba(105, 114, 104, 1);
    color: rgba(249, 251, 253, 1);
    border-radius: 4px;
}

#reserve:hover {
    background-color: rgba(188, 210, 238, 1);
    width: 290px;
    color: rgba(249, 251, 253, 1);
}


@media screen and (max-width: 1000px) {
    body {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .container {
        min-height: 100vh;
        flex-direction: column;
        border-radius: 0;
    }
    .container .left {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }
    .container .right {
        width: 100%;
        height: 100%;
        padding: 20px 0;
    }
    .calendar::before,
    .calendar::after {
        top: 100%;
        left: 50%;
        width: 97%;
        height: 12px;
        border-radius: 0 0 5px 5px;
        transform: translateX(-50%);
    }
    .calendar::before {
        width: 94%;
        top: calc(100% + 12px);
    }
    @media screen and (max-width: 500px) {
        .calendar .month {
            height: 75px;
        }
        .calendar .weekdays {
            height: 50px;
        }
        .calendar .days .day {
            height: 40px;
            font-size: 0.8rem;
        }
        .calendar .days .day.active,
        .calendar .days .day.today {
            font-size: 1rem;
        }
        .right .today-date {
            padding: 20px;
        }
    }
}