/* 
    Created on : 1-Mar-2023, 1:25:08 PM
    Author     : marce
*/

@import url("https://css.gg/css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    /*background-color: rgba(245, 245, 245, 48.5);*/
    /*background-size: cover;*/
    /*background-color: white;*/
    background-color: rgba(188, 210, 238, 0.5);
    /*background-repeat: no-repeat;*/
    /*margin: 20px;*/
    border-color: red;
    /*min-height: 1000px;*/
}

h1 {
    text-align: center;
}

h2 {
    border: 5px solid rgba(188, 210, 238, 0.5);
    text-align: center;
/*    margin-top: 20px;
    margin-bottom: 20px;*/
    /*margin-left: 150px;*/
}

h3 {
    margin-top: 50px;
    margin-left: 175px;
    /*float: left;*/
}

/* Images */
body div p img {
    height: 120px;
    width: 200px;
    margin-left: 200px;
    margin-right: 25px;
    float: left;
}

/*header img {
    height: 120px;
    width: 200px;
    margin-left: 200px;
    margin-right: 25px;
    float: left;
}*/

.service_img {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 15px;
}

.service_img img {
    display: block;
    height: 75px;
}

.servicesDescription p {
    margin-left: 25px;
    margin-right: 200px;
    margin-bottom: 25px;
    float: left;
}

.servicesDescription a {
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
}

header {
    background-color: rgba(188, 210, 238, 1);
    position: relative;
}

.mmt-logo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mmt-logo img {
    display: block;
    height: 75px;
    
}

header h1 {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-family: "josefin slab";
    font-weight: 400;
    color: rgba(105, 114, 104, 1);
    font-size: 40px;
    margin-left: 10px;
}

main {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(249, 251, 253, 1);
}

.title-container {
    padding-top: 50px;
    padding-bottom: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.title-container h2 {
    color: rgba(105, 114, 104, 1);
    font-family: "josefin slab";
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}

.title-container p {
    color: rgba(105, 114, 104, 1);
    font-family: "josefin slab";
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
}

.line {
    height: 1px;
    background: rgba(105, 114, 104, 1);
    margin-bottom: 15px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    border: 3px solid;
    border-color: rgba(105, 114, 104, 1);
    border-radius: 5px;
    min-height: 500px;
}

.email-container {
    align-items: center;
    display: inline-block;
    gap: 35px;
    height: 45px;
    width: 400px;
    padding: 5px 5px;
    margin: auto;
    font-family: "josefin slab";
    font-weight: 600;
    font-size: 25px;
    color: rgba(105, 114, 104, 1);
}

.username-container {
    align-items: center;
    display: inline-block;
    gap: 35px;
    height: 45px;
    width: 400px;
    padding: 5px 5px;
    margin: auto;
    font-family: "josefin slab";
    font-weight: 600;
    font-size: 25px;
    color: rgba(105, 114, 104, 1);
}

.fullName-container {
    align-items: center;
    display: inline-block;
    gap: 35px;
    height: 45px;
    width: 400px;
    padding: 5px 5px;
    margin: auto;
    font-family: "josefin slab";
    font-weight: 600;
    font-size: 25px;
    color: rgba(105, 114, 104, 1);
}

.telephone-container {
    align-items: center;
    display: inline-block;
    gap: 35px;
    height: 45px;
    width: 400px;
    padding: 5px 5px;
    margin: auto;
    font-family: "josefin slab";
    font-weight: 600;
    font-size: 25px;
    color: rgba(105, 114, 104, 1);
}

.address-container {
    align-items: center;
    display: inline-block;
    gap: 35px;
    height: 45px;
    width: 400px;
    padding: 5px 5px;
    margin: auto;
    font-family: "josefin slab";
    font-weight: 600;
    font-size: 25px;
    color: rgba(105, 114, 104, 1);
}

.password-container {
    align-items: center;
    display: block;
    gap: 35px;
    height: 45px;
    width: 400px;
    padding: 5px 5px;
    margin: auto;
    font-family: "josefin slab";
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 80px;
    color: rgba(105, 114, 104, 1);
}

.button-container {
    display: block;
    margin-top: 100px;
    margin-bottom: 20px;
}

.email {
    letter-spacing: 0;
    line-height: 20px;
    min-width: 84px;
    text-align: center;
    white-space: nowrap;
    border-radius: 8px;
}

#email-input {
    background-color:rgba(249, 251, 253, 1);
    color: rgba(105, 114, 104, 1);
    font-size: 20px;
    border: none;
    outline: none;
    height: 45px;
    width: 325px;
    transition: height 1s;
    padding-left: 70px;
    border-radius: 8px;
}

.username {
    letter-spacing: 0;
    line-height: 20px;
    min-width: 84px;
    text-align: center;
    white-space: nowrap;
}

#username-input {
    background-color:rgba(249, 251, 253, 1);
    color: rgba(105, 114, 104, 1);
    padding-left: 70px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    outline: none;
    height: 45px;
    width: 325px;
    transition: height 1s;
}

.fullName {
    letter-spacing: 0;
    line-height: 20px;
    min-width: 84px;
    text-align: center;
    white-space: nowrap;
}

#fullName-input {
    background-color:rgba(249, 251, 253, 1);
    color: rgba(105, 114, 104, 1);
    padding-left: 70px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    outline: none;
    height: 45px;
    width: 325px;
    transition: height 1s;
}

.telephone {
    letter-spacing: 0;
    line-height: 20px;
    min-width: 84px;
    text-align: center;
    white-space: nowrap;
}

#tel-input {
    background-color:rgba(249, 251, 253, 1);
    color: rgba(105, 114, 104, 1);
    padding-left: 70px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    outline: none;
    height: 45px;
    width: 325px;
    transition: height 1s;
}

.address {
    letter-spacing: 0;
    line-height: 20px;
    min-width: 84px;
    text-align: center;
    white-space: nowrap;
}

#address-input {
    background-color:rgba(249, 251, 253, 1);
    color: rgba(105, 114, 104, 1);
    padding-left: 70px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    outline: none;
    height: 45px;
    width: 325px;
    transition: height 1s;
}

.password {
    letter-spacing: 0;
    line-height: 20px;
    min-width: 84px;
    text-align: center;
    white-space: nowrap;
}

#pass-input {
    background-color:rgba(249, 251, 253, 1);
    color: rgba(105, 114, 104, 1);
    padding-left: 70px;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    outline: none;
    height: 45px;
    width: 325px;
    transition: height 1s;
}

.button-container {
    background-color: rgba(188, 211, 156, 1);
    gap: 10px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

input.button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0px;
    width: 200px;
    padding: 8px 0px;
    box-shadow: 0 0 20px rgba(249, 251, 253, 1);
    transition: 0.4s;
}

.button {
    color: rgba(249, 251, 253, 1);
    background-color: rgba(188, 211, 156, 1);
    border: 5px solid rgba(188, 211, 156, 1);
}

input.button:hover {
    color: rgba(249, 251, 253, 1);
    width: 150px;
    background-color: rgba(188, 210, 238, 1);
    border: 1px;
}